<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
        <img src="/assets/imagenes/a.png">
      <ion-card-title>Integrantes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Victor Castillo<br>
      Sebastian Marilao<br>
      Sebastian Orellana<br>
      Patrick Poblete
    </ion-card-content>
  </ion-card>

</ion-content>