<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>hormiga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="black">
  <iframe style="margin-top:40%" width="auto" height="auto" src="https://www.youtube.com/embed/qsBtNkdcHMg" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div align="center">
    <ion-button color="danger" expand="full" (click)="atras()">Atras</ion-button>
  </div>
</ion-content>