<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
          <ion-button (click)="home()">
            <ion-icon slot="icon-only" name="home"></ion-icon>
          </ion-button>
        </ion-buttons>
      <ion-title>Silencio</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/IWdBzXtlyDs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-row>
    </ion-grid>
    <ion-button color="danger" (click)="atras()">Atras</ion-button>
  </ion-content>
  